.toggle {
  border-style: outset;
  width: 400px;
  background-color: rgba(76, 175, 80, 0.15)
}

.dark {
  background-color:#243447;
  height: vh;
  color: #bebebe
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

.light {
  background-color: #f0ead6;
  color: black;
  height: vh;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 20px;
  display: flex;
}

.col {
  margin: 20px;
}

.landingPage {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  padding-top: 15px;
  margin-right: 20px;
  float: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  font-weight: bold;
}

#h3-header {
  padding-top: 15px;
  margin-right: 20px;
  float: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
}

#li-2 {
  display: inline-block;
  margin-left: 25px;
}

.footer {
  padding: 20px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  font-size: 30px;
  background-color: #e9e6f3e7;
  color: #0b4e75;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}
